In [2]:
import numpy as np, pandas as pd

import matplotlib.pyplot as plt, seaborn as sns
import matplotlib as mpl

import math, string, re, pickle, json, time, os, sys, datetime, itertools

from tqdm.notebook import tqdm # This makes progress bars

In [3]:
patientthru2022_files = pd.DataFrame()
local = False

import warnings
with warnings.catch_warnings():
    warnings.filterwarnings("ignore", category=pd.errors.DtypeWarning)
    for year in tqdm([2022]):
        if local:
            patient = pd.read_csv('data/MAUDE_data/patientthru%d.zip' % year)
        else:
            patient = pd.read_csv('https://www.accessdata.fda.gov/MAUDE/ftparea/patientthru%d.zip' % year, sep='|', quoting=3, encoding = "ISO-8859-1", on_bad_lines='skip')
            patient.to_csv('data/MAUDE_data/patientthru%d.zip' % year, index = False)
            patientthru2022_files = patientthru2022_files.append(patient)

  0%|          | 0/1 [00:00<?, ?it/s]

/var/folders/y9/lxmggbg139l2w9vkx9w8n08h0000gr/T/ipykernel_7780/541647647.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  patientthru2022_files = patientthru2022_files.append(patient)

In [4]:
 patientthru2022_files

,MDR_REPORT_KEY,PATIENT_SEQUENCE_NUMBER,DATE_RECEIVED,SEQUENCE_NUMBER_TREATMENT,SEQUENCE_NUMBER_OUTCOME
0,10,1,03/10/1992,NaN,1. R
1,11,1,03/10/1992,NaN,1. O
2,12,1,03/10/1992,NaN,1. O
3,13,1,03/10/1992,NaN,1. R
4,14,1,03/10/1992,NaN,1. D
...,...,...,...,...,...
15763969,16081268,1,12/31/2022,NaN,1. R
15763970,16081269,1,12/31/2022,NaN,1. O
15763971,16081270,1,12/31/2022,NaN,1. R
15763972,16081271,1,12/31/2022,TANDEM INSULIN PUMP,1. O
15763973,16081272,1,12/31/2022,NaN,NaN

In [6]:
 patientthru2022_files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15763974 entries, 0 to 15763973
Data columns (total 5 columns):
 #   Column                     Dtype
---  ------                     -----
 0   MDR_REPORT_KEY             int64
 1   PATIENT_SEQUENCE_NUMBER    int64
 2   DATE_RECEIVED              object
 3   SEQUENCE_NUMBER_TREATMENT  object
 4   SEQUENCE_NUMBER_OUTCOME    object
dtypes: int64(2), object(3)
memory usage: 601.3+ MB

In [7]:
 patientthru2022_files['DATE_RECEIVED'] = pd.to_datetime( patientthru2022_files['DATE_RECEIVED']
                                                        )

In [8]:
 patientthru2022_files['DATE_RECEIVED'] = pd.to_datetime( patientthru2022_files['DATE_RECEIVED'], format='%Y-%m-%d')

In [12]:
patient_df1 = patientthru2022_files.loc[( patientthru2022_files["DATE_RECEIVED"] >= "2000-01-01") & (patientthru2022_files["DATE_RECEIVED"] < "2021-12-31")]
patient_df1

,MDR_REPORT_KEY,PATIENT_SEQUENCE_NUMBER,DATE_RECEIVED,SEQUENCE_NUMBER_TREATMENT,SEQUENCE_NUMBER_OUTCOME
120350,123103,1,2000-09-23,NaN,NaN
202932,206710,1,2000-01-06,NaN,NaN
253286,257047,1,2000-01-02,"1. INSULIN,; 2. INSULIN INFUSION SET, DATES OF...",1. H
253295,257056,1,2000-01-03,ALPHA SOURCE LIGHT BULBS.,1. O
253328,257089,1,2000-01-03,NaN,1. O
...,...,...,...,...,...
14439054,14755891,1,2014-12-09,NaN,NaN
14439068,14755905,1,2014-12-11,NaN,NaN
15128603,15445483,1,2019-04-01,NaN,NaN
15307505,15624464,1,2013-07-09,"ALARIS PUMP MODULE AND ALARIS PC UNIT, S/N UNK...",NaN
15307517,15624476,1,2013-07-09,"ALARIS PUMP MODULE AND ALARIS PC UNIT, S/N UNK...",NaN

In [28]:
patient_df1["DATE_RECEIVED"].value_counts()

2019-09-13    34133
2021-11-30    17267
2019-09-12    16616
2021-12-14    14978
2021-08-31    14117
              ...
2014-05-04        1
2014-03-02        1
2002-09-08        1
2000-11-12        1
2000-12-02        1
Name: DATE_RECEIVED, Length: 7901, dtype: int64

In [30]:
pmesh_df1 = pd.read_csv("final(2430).csv")
pmesh_df1

,MDR_REPORT_KEY,Unnamed: 0,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,...,LOT_NUMBER,OTHER_ID_NUMBER,DEVICE_AVAILABILITY,DATE_RETURNED_TO_MANUFACTURER,DEVICE_REPORT_PRODUCT_CODE,DEVICE_AGE_TEXT,DEVICE_EVALUATED_BY_MANUFACTUR,COMBINATION_PRODUCT_FLAG,UDI-DI,UDI-PUBLIC
0,263399,258173,NaN,MW1018175,P,N,NaN,NaN,2000-02-16,Y,...,DLM02,*,Y,NaN,LMO,NaN,NaN,NaN,NaN,NaN
1,272787,267525,NaN,MW1018595,P,N,NaN,NaN,2000-04-06,Y,...,*,*,R,2000/03/15,FZW,NaN,NaN,NaN,NaN,NaN
2,307603,301813,NaN,MW1020521,P,N,NaN,NaN,2000-11-27,N,...,41K1DP03,*,N,NaN,FTL,NaN,NaN,NaN,NaN,NaN
3,307606,301816,NaN,MW1020522,P,N,NaN,NaN,2000-11-27,N,...,43GJD297,*,N,NaN,FTL,NaN,NaN,NaN,NaN,NaN
4,307609,301819,NaN,MW1020523,P,N,NaN,NaN,2000-11-27,N,...,43GJD297,*,N,NaN,FTL,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,12975983,12672068,NaN,MW5105960,P,N,NaN,NaN,2021-12-09,Y,...,0331700437,NaN,N,NaN,FTL,NaN,NaN,N,NaN,NaN
2428,12975983,12672068,NaN,MW5105960,P,N,NaN,NaN,2021-12-09,Y,...,0021604246,NaN,*,NaN,FTL,NaN,NaN,N,NaN,NaN
2429,13002747,12698831,NaN,MW5106037,P,N,NaN,NaN,2021-12-13,Y,...,NaN,NaN,N,NaN,FTL,NaN,NaN,N,NaN,NaN
2430,13025770,12721848,NaN,MW5106129,P,N,NaN,NaN,2021-12-16,Y,...,NaN,NaN,Y,NaN,FTL,NaN,*,N,NaN,NaN
2431,13118139,12814196,NaN,MW5106364,P,N,NaN,NaN,2021-12-29,N,...,HUFP09919,NaN,N,NaN,NAY,NaN,NaN,N,NaN,NaN

In [31]:
pmesh_df1["DATE_RECEIVED"].value_counts()

2019-09-10    44
2016-07-05    18
2017-11-30    16
2017-06-20    13
2018-01-17    12
              ..
2013-02-12     1
2013-02-25     1
2013-02-20     1
2013-02-26     1
2021-12-29     1
Name: DATE_RECEIVED, Length: 1433, dtype: int64

In [32]:
final_df1 = pmesh_df1.join(patient_df1, on = 'MDR_REPORT_KEY', how = 'inner', rsuffix='_device' )

final_df1

,MDR_REPORT_KEY,Unnamed: 0,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,...,DEVICE_AGE_TEXT,DEVICE_EVALUATED_BY_MANUFACTUR,COMBINATION_PRODUCT_FLAG,UDI-DI,UDI-PUBLIC,MDR_REPORT_KEY_device,PATIENT_SEQUENCE_NUMBER_device,DATE_RECEIVED_device,SEQUENCE_NUMBER_TREATMENT,SEQUENCE_NUMBER_OUTCOME
0,263399,258173,NaN,MW1018175,P,N,NaN,NaN,2000-02-16,Y,...,NaN,NaN,NaN,NaN,NaN,267156,1,2000-03-01,NaN,NaN
1,272787,267525,NaN,MW1018595,P,N,NaN,NaN,2000-04-06,Y,...,NaN,NaN,NaN,NaN,NaN,276548,1,2000-05-04,NaN,1. O
2,307603,301813,NaN,MW1020521,P,N,NaN,NaN,2000-11-27,N,...,NaN,NaN,NaN,NaN,NaN,311891,1,2001-01-06,NaN,NaN
3,307606,301816,NaN,MW1020522,P,N,NaN,NaN,2000-11-27,N,...,NaN,NaN,NaN,NaN,NaN,311894,1,2001-01-09,NaN,1. R
4,307609,301819,NaN,MW1020523,P,N,NaN,NaN,2000-11-27,N,...,NaN,NaN,NaN,NaN,NaN,311896,1,2001-01-09,NaN,1. O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2417,12751593,12448557,NaN,MW5105132,P,N,NaN,NaN,2021-11-03,Y,...,NaN,NaN,N,NaN,NaN,13062381,1,2021-12-22,NaN,1. R
2418,12771109,12468070,NaN,MW5105155,P,N,NaN,NaN,2021-11-04,Y,...,NaN,NaN,N,NaN,+$$0000SP200108220X5,13081899,1,2021-12-23,NaN,1. R; 2. L
2419,12771109,12468070,NaN,MW5105155,P,N,NaN,NaN,2021-11-04,Y,...,NaN,NaN,N,NaN,+$$0000SP200108220X5,13081899,1,2021-12-23,NaN,1. R; 2. L
2420,12771284,12468245,NaN,MW5105163,P,N,NaN,NaN,2021-11-04,N,...,NaN,NaN,N,NaN,NaN,13082074,1,2021-12-23,NaN,1. O; 3. R
2421,12804268,12501223,NaN,MW5105281,P,N,NaN,NaN,2021-11-10,N,...,NaN,NaN,N,NaN,NaN,13115065,1,2021-12-29,SMARTABLATE GEN. KIT (JAPAN); THMCL SMTCH SF B...,NaN

In [33]:
final_df1["SEQUENCE_NUMBER_OUTCOME"].isnull().value_counts()

True     1420
False    1002
Name: SEQUENCE_NUMBER_OUTCOME, dtype: int64

In [35]:
# saving the dataframe
final_df1.to_csv('patient_mesh_text_1.csv')

In [36]:
final_df1["DATE_RECEIVED"].value_counts()

2019-09-10    44
2016-07-05    18
2017-11-30    16
2017-06-20    13
2018-01-17    12
              ..
2013-02-04     1
2013-02-05     1
2013-02-06     1
2013-02-12     1
2021-11-10     1
Name: DATE_RECEIVED, Length: 1425, dtype: int64